<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>/version_uploadIOSIpaFile/2017/07/19/19f0c15669b94b43bf62f089dfd7c494.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>/version_uploadIOSFullImageFile/2017/07/19/3b1215ebc0854cd9b4d0bb667e118829.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>/version_uploadIOSLogFile/2017/07/19/6c0706aaa34b47938c14ca4c5ad33dfe.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>这是IOS版本Identifer属性</string>
				<key>bundle-version</key>
				<string>安卓1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>这是标题</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>