<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://utsmarthomeplatform.oss-cn-shenzhen.aliyuncs.com/version_uploadIOSIpaFile/e559a7291db645138a280dd4f123f909.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://utsmarthomeplatform.oss-cn-shenzhen.aliyuncs.com/version_uploadIOSFullImageFile/e48f25dda74d4fd29bdebe3f5d209c42.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://utsmarthomeplatform.oss-cn-shenzhen.aliyuncs.com/version_uploadIOSLogFile/752553f7f7b6499d989039b40dc55f6b.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ut.apartment</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>公寓系统iOS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>